#info {
  background-color: #f6f3f3;
  padding: 8% 0 0 5%;

  h2 {
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(153, 153, 153);
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    margin: 5% 0;
  }

  p {
    font-size: 1.5rem;
  }

  .list-group {
    margin-bottom: 15%;
    .list-group-item {
      all: unset;
      cursor: pointer;
      border: none;
      border-top: 1px solid rgb(153, 153, 153);
      padding: 2% 0;

      &:last-of-type {
        border-bottom: 1px solid rgb(153, 153, 153);
      }

      a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 28px;
        align-items: center;
        padding: 0 5%;
      }
    }
  }
}

@media (max-width: 768px) {
  #info {
    p {
      font-size: 1rem;
    }

    .list-group {
      .list-group-item {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
